@font-face{
    src: url(./asset/fontawesome-webfont.woff);
}
body{
    color: #666;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #666;
    &:hover {
        color: #333;
    }
}